.page {
  min-height: 100vh;
  padding: 32px;
  background-color: #0962EA;
}

.card {
  background-color: #0E7CF4;
  padding: 16px;
  border-radius: 12px;

  border-style: solid;          
  border-width: 2px;         
  border-color: #FAF15D;        
}
